<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.car.led.mapper.ActionMapper">
	<resultMap id="BaseResultMap" type="com.car.led.model.Action">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="type" jdbcType="VARCHAR" property="type" />
		<result column="vin" jdbcType="VARCHAR" property="vin" />
		<result column="plant" jdbcType="VARCHAR" property="plant" />
		<result column="device_id" jdbcType="VARCHAR" property="deviceId" />
		<result column="vehicle_code" jdbcType="VARCHAR" property="vehicleCode" />
		<result column="sub_module" jdbcType="VARCHAR" property="subModule" />
		<result column="subModuleVal" jdbcType="VARCHAR" property="subModuleVal" />
		<result column="action" jdbcType="VARCHAR" property="action" />
		<result column="actionVal" jdbcType="VARCHAR" property="actionVal" />
		<result column="result" jdbcType="BIT" property="result" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>

	<select id="findActionByToady" resultMap="BaseResultMap"
		parameterType="String">
		SELECT id, GROUP_CONCAT(distinct type) as
		type,vin,plant,
		vehicle_code,create_time FROM `action`
		WHERE create_time
		> curdate() AND plant=#{plant}
		GROUP BY vin
		ORDER BY create_time DESC
	</select>

	<select id="query" resultMap="BaseResultMap">
		SELECT c.type, c.vin, c.plant,
		c.vehicle_code, c.action, dict.val as
		actionVal,
		c.sub_module,dict1.val
		as subModuleVal,c.result, c.create_time, c.device_id
		FROM action c
		INNER JOIN dictionary dict ON c.action = dict.`code` AND dict.type =
		'action'
		LEFT JOIN dictionary dict1 ON c.sub_module = dict1.`code` AND
		dict1.type =
		'sub_module'
		WHERE c.vin = #{vin} ORDER BY c.create_time
		desc
	</select>

	<select id="current" resultMap="BaseResultMap">
		<!-- SELECT c.type, c.vin, c.plant, c.vehicle_code, c.action, dict.val 
			as actionVal, c.sub_module,dict1.val as subModuleVal,c.result, c.create_time, 
			c.device_id FROM action c INNER JOIN ( SELECT type, vin FROM action WHERE 
			id IN (SELECT MAX(a.id) FROM action a LEFT JOIN plant_type p ON a.type = 
			p.type AND a.plant = #{plant} WHERE a.create_time > curdate() GROUP BY p.type 
			) ) t ON t.type = c.type AND t.vin = c.vin AND c.plant = #{plant} INNER JOIN 
			dictionary dict ON c.action = dict.`code` AND dict.type = 'action' LEFT JOIN 
			dictionary dict1 ON c.sub_module = dict1.`code` AND dict1.type = 'sub_module' 
			ORDER BY c.create_time desc -->
		SELECT c.type, c.vin, c.plant, c.vehicle_code, c.action, dict.val as
		actionVal,
		c.sub_module,dict1.val as subModuleVal,c.result,
		c.create_time, c.device_id
		FROM action c
		INNER JOIN dictionary dict ON
		c.action = dict.`code` AND dict.type =
		'action'
		LEFT JOIN dictionary
		dict1 ON c.sub_module = dict1.`code` AND dict1.type =
		'sub_module'
		where c.plant = #{plant} and c.create_time > curdate() and c.vin in
		<foreach collection="actions" index="index" item="item" open="("
			separator="," close=")">
			#{item.vin}
		</foreach>
		ORDER BY c.create_time desc

	</select>

	

	<select id="findActionByVinList" resultMap="BaseResultMap">
		SELECT id,
		GROUP_CONCAT(distinct type) as type,vin,plant,
		vehicle_code,create_time FROM `action`
		WHERE vin in 
		<foreach collection="actions" index="index" item="item" open="("
			separator="," close=")">
			#{item.vin}
		</foreach>
		GROUP BY vin
		ORDER BY create_time DESC
			
	</select>
	
	
	<select id="findActionByVin" resultMap="BaseResultMap">
		SELECT distinct vin FROM `action` WHERE vin LIKE concat( '%' , #{vin} , '%' )  AND plant=#{plant} LIMIT 10
	</select>
	
	<select id="typeResult" resultType="map">
	SELECT type, MIN(result) as result from (
		SELECT type,max(result) as result FROM `action`
		WHERE vin =  #{vin}
		GROUP BY  type,sub_module, action ) t  GROUP BY type 
	</select>
	
	<select id="typeSucceed"  resultType="map">
	SELECT type, sum(result) as num from ( SELECT type,max(result) as result,sub_module,action FROM `action`
		WHERE vin =  #{vin}
		GROUP BY  type,sub_module, action ) t GROUP BY type
	</select>
	
</mapper>