<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.car.led.mapper.AtlasStationHasProjectMapper">
  <resultMap id="BaseResultMap" type="com.car.led.model.AtlasStationHasProject">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="station_name" jdbcType="VARCHAR" property="stationName" />
    <result column="vehicle" jdbcType="VARCHAR" property="vehicle" />
  </resultMap>
</mapper>