<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.car.led.mapper.EcuVerifyResultMapper">
	<resultMap id="BaseResultMap" type="com.car.led.model.EcuVerifyResult">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="vehicle" jdbcType="VARCHAR" property="vehicle" />
		<result column="ecu_code" jdbcType="VARCHAR" property="ecuCode" />
		<result column="test_action" jdbcType="VARCHAR" property="testAction" />
		<result column="result" jdbcType="BIT" property="result" />
		<result column="test_type" jdbcType="VARCHAR" property="testType" />
	</resultMap>
</mapper>