<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.car.led.mapper.EquipmentMapper">
	<resultMap id="BaseResultMap" type="com.car.led.model.Equipment">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="station_type" jdbcType="VARCHAR" property="stationType" />
		<result column="equipment_type" jdbcType="VARCHAR" property="equipmentType" />
		<result column="device_id" jdbcType="VARCHAR" property="deviceId" />
		<result column="ip" jdbcType="VARCHAR" property="ip" />
		<result column="maintenance_date" jdbcType="DATE" property="maintenanceDate" />
		<result column="maintenance_period" jdbcType="INTEGER"
			property="maintenancePeriod" />
	</resultMap>
</mapper>