<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.car.led.mapper.TestPlanMapper">
	<resultMap id="BaseResultMap" type="com.car.led.model.TestPlan">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="vehicle" jdbcType="VARCHAR" property="vehicle" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="test_stage" jdbcType="VARCHAR" property="testStage" />
		<result column="p_start_date" jdbcType="DATE" property="pStartDate" />
		<result column="p_end_date" jdbcType="DATE" property="pEndDate" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="r_start_date" jdbcType="DATE" property="rStartDate" />
		<result column="r_end_date" jdbcType="DATE" property="rEndDate" />
		<result column="responsible" jdbcType="VARCHAR" property="responsible" />
	</resultMap>
	
	<select id="selectStatistics" resultType="map" >
	<![CDATA[
	select sum(if(`status` = 0,1,0)) as undone,sum(if(`status` = 1 and p_end_date>=NOW() ,1,0)) as doing, 
sum(if(`status` = 1 and p_end_date<NOW() ,1,0)) as delay,
sum(if(`status` = 10 ,1,0)) as done from test_plan where vehicle=#{vehicle}
	]]>
</select>

<select id="selectBoxStatistics" resultType="map" >
	<![CDATA[
		SELECT sum(if((`status`>=5 or `status`=-10) ,1,0)) as s_done ,
	sum(if(`status`=-5 ,1,0)) as s_failed,
	sum(if((`status`<5 and `status`>-5),test_num,0)) as s_undone,
	sum(if((`status`=10) ,1,0)) as e_done ,
	sum(if(`status`=-10 ,1,0)) as e_failed,
	sum(if(`status`!=10 and `status`!=-10,test_num,0)) as e_undone
	from ecu where vehicle=#{vehicle}
	]]>
</select>
	
	
</mapper>